html, body, section {
    background-color: #020304;
    color: #FDFCFA;
}

:not(pre) > code {
    font-family: monospace;
    color: #FDFCFA !important;
    background-color: #333;
    padding: 5px;
    border-radius: 3px;
}

a {
    color: #00CCCC!important;
}

thead > tr > th {
    background-color: #020304
}

td {
    margin: 4px
}

pre.prettyprint {
    background-color: #111;
    padding: 13px;
}